header{
  background-color:rgba(83, 77, 77, 0.56) ;
}
 #logo{
    background:#84a583;
    color:black;
 }
 main{
    background:#84a583;
 }
.parralax{
  background: url(images/manger.jpg) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  height: 600px;
  padding: 0;
  margin: 0;
}
.h1-color{
    color:#99B998;
}

.mybtn{
  border-radius: 3rem;
  background: #EA495F;

}
input #montant{
  width: 1.8rem;
}
.myCard{
  margin-bottom: 30px;
}

.myCard:hover{
    transform: scale(1.2);
    margin: 50px;

}


.bg-h3{
  background-color: #FDCEA9;
  height: 250px;
  color:#365335;

}
